* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  height:100vh;
  width:100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid black
}